*{
    
    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;

}

@keyframes moveBg {
    
    0% {
    
        background-position: 0% 50%;
    
    }
    
    100% {
    
        background-position: 100% 50%;
    
    }

}

h1{

    text-align: center;

    color: white;

}

.contenedor{
    
    max-height: 100vh;

    max-width: 100vw;
    
    display: flex;
    
    flex-wrap: wrap;
    
    justify-content: center;
}

.carta{

    text-align: center;
    
    align-content: center;
    
    background-color: black;
    
    font-size: 50px;
    
    text-shadow: 1px 3px 6px white;
    
    height: 200px;

    width:30%;

    margin: 10px;

}

button{
    
    display: block;

    margin: 20px auto;

}

body{

    background:linear-gradient(to top left, white 0%, red 25%, blue 50%, orange 75%, yellow 100%);

    background-size: 300% 300%;

    animation: moveBg 15s ease infinite;

}

.contador{
    
    display: flex;

    justify-content: center;

    color: white;

    font-size: 20px;

}

.oculto{

    background-color: aqua;

    color: transparent;

    height: 300px;

    width: 300px;

    margin: 10px;
}